<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightonke.saver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".activity.CoCoinApplication"
        android:allowBackup="true"
        android:icon="@drawable/cocoin_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMain" />
        <activity
            android:name=".activity.AccountBookTodayViewActivity"
            android:label="@string/title_activity_account_book"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AccountBookCustomViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AccountBookReportViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AccountBookTagViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AccountBookMonthViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TagSettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AccountBookListViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EditRecordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EditPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SetPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AccountBookSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CoCoinSettingActivityStyle" />
        <activity android:name="com.github.mmin18.layoutcast.ResetActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ShowActivity" />
    </application>

</manifest>
