<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightonke.saver" >

    <application
        android:name=".activity.CoCoinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AccountBookTodayViewActivity"
            android:label="@string/title_activity_account_book"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.AccountBookTagViewActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_tag_setting" >
        </activity>
        <activity
            android:name=".activity.AccountBookMonthViewActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_tag_setting" >
        </activity>
        <activity
            android:name=".activity.TagSettingActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_tag_setting" >
        </activity>
    </application>

</manifest>
